
body {
    background-color: #f8f9fa;
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('hero-termo.jpg') no-repeat center center;
   background-size: cover;
}

.card-title-main {
    color: #3b3164;
    font-size: 1.8rem;
    font-weight: 600;
}

.custom-wizard-container {
    width: 380px;
    border-radius: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.custom-wizard-container h2 {
    color: #3b3164;
    font-size: 1.3rem;
    font-weight: 600;
}

/* =======================================
   ESTILO DE CONTROLES Y FORMULARIO
   ======================================= */
.custom-btn {
    width: 150px; /* Ajuste para el botón Siguiente */
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #007bff, #00c6ff);
    transition: all 0.3s ease;
}

.custom-btn:hover {
    box-shadow: 0 4px 10px rgba(0, 198, 255, 0.4);
    transform: translateY(-1px);
}

/* Estilo para Radio Buttons */
.custom-radio-label {
    padding: 10px 0;
    cursor: pointer;
}

/* =======================================
   ESTILO DEL STEPPER (Indicador de Pasos)
   ======================================= */
.steps-container {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

.step {
    font-size: 0.9rem;
    color: #ccc;
    font-weight: bold;
    transition: color 0.3s;
}

.step.-completed {
    color: #007bff; /* Color azul para paso completado */
}

/* =======================================
   ANIMACIÓN DE MOVIMIENTO DE TARJETA
   ======================================= */
.panels {
    position: relative;
    overflow: hidden; 
    transition: height 0.5s ease-in-out; /* Para animar la altura al cambiar de panel */
}

.panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Define la transición de movimiento */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; 
    opacity: 0; 
}

/* Panel que entra (clase 'movingIn') */
.panel.movingIn {
    opacity: 1;
    transform: translateX(0); /* Posición final: visible y centrado */
    position: relative; /* Esto permite que el contenedor .panels ajuste su altura */
}

/* Panel saliendo hacia ADELANTE */
.panel.movingOutFoward {
    transform: translateX(-100%); /* Sale hacia la izquierda */
    opacity: 0;
    position: absolute;
}

/* Panel saliendo hacia ATRÁS */
.panel.movingOutBackward {
    transform: translateX(100%); /* Sale hacia la derecha */
    opacity: 0;
    position: absolute;

}

