@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --color-header:rgba(31, 25, 61, 0.8);
    --color-boton: #efa600;
    --color-ecotec:#1F193D;
    --color-alternativas:#F0BC00;
    --color-footer-icon:#8591b8;
    --color-card-background: #ffffff;
    --color-cta-start: #1F193D;
    --color-cta-end: #003CFF;
    --color-sub-menu:#1A0F6B;
    --color-text-dark: #333;
    --color-text-muted: #6c757d;
}

/* Base */
body {
    font-family: K2D, arial;
}
.text-ptsans{
    font-family: PT Sans;
}


html {
    scroll-behavior: smooth;
}

.scroll-reveal.reveal-hidden {
    opacity: 0;
    transform: translateY(30px); 
    transition: opacity 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94), 
                transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


.scroll-reveal.revealed {
    opacity: 1;
    transform: translateY(0);
}

header .scroll-reveal {
    opacity: 1;
    transform: none;
    transition: none;
}

/* Header */
header{
  background-color:var(--color-header);

}

.logo-ecotec{
    color: var(--color-ecotec);
    font-size: 20px;
}

.logo-empresa {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  transition: opacity 0.2s ease;
  opacity: 1;
}

.logo-empresa:hover {
  opacity: 0.7; 
}

.logo-icono {
  height: 48px;
  width: auto;
  display: block;
}

.logo-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
}

.logo-ecotec {
  color: var(--color-ecotec);
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.logo-alternativas {
  color: var(--color-alternativas);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0;
}


.logo-empresa:hover {
  opacity: 0.8;
}


.navbar .nav-link,
.navbar-brand {
  color: #fff ;
}

.navbar .nav-link:hover {
  text-decoration: none;
  color: var(--color-alternativas);
}

.alt-text {
  color: var(--color-alternativas);
}

.logo-ecotec span{
    color: var(--color-ecotec);
}


.navbar .dropdown-menu {
  border-radius: 0.5rem;
  transition: 0.2s ease;;
}


.navbar .btn-cta {
  background: var(--color-boton);
  color: #fff;
  border-radius: 20px;
  padding: 6px 16px;
  border: none;
  transition: transform 0.2s ease;
}

.navbar .btn-cta:hover {
   background: var(--color-boton);
   outline:1px solid #fff ;
   transform: scale(1.05);
}

.dropdown-item:hover{
  background-color: var(--color-sub-menu);
  color: #ffffff;
}

.navbar .dropdown:hover > .dropdown-menu {
  display: block;
}

.navbar .dropdown-menu {
  display: none;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.navbar .dropdown:hover > .dropdown-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
.icono-logo img{
    height: 40px;
    width: 40px;
}

/* Hero Section */
.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/fondo-panel.jpg') no-repeat center center;
    background-size: cover;
    height: 70vh;
    padding-top: 56px; 
}

.icon img {
    height: 50px;
    width: 50px;
}

/* Features Section */
.feature-card {
    height: 100%; 
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.col-12 img {
    height: 400px;
    width: 800px;
    object-fit: cover;
}

.row.g-4 {
    display: flex;
    align-items: stretch; 
}

.col-md-4 {
    display: flex; 
}

/* proyectos en curso */
.img-carousel-proyecto {
    width: 400px ; 
    height: 400px; 
    max-height: 400px;
    width: auto; 
    margin: 0 auto; 
    object-fit: cover; 
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.carousel-item a {
    display: flex;
    justify-content: center;
}

.carousel-item a:hover .img-carousel-proyecto {
    transform: scale(1.02); 
    box-shadow: 0px 8px 20px rgba(0,0,0,0.25);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--color-ecotec); 
    border-radius: 50%;
    padding: 15px;
}

@media (max-width: 768px) {
    .img-carousel-proyecto {
        
        width: 280px !important; 
        height: 200px !important; 
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 10%; 
    }
}


/* Cards Section */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card:hover {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn-card {
    background-color: var(--color-boton);
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn-card:hover {
    background-color: var(--color-alternativas);
    transform: scale(1.05);
}

.logo-slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 220px; /* Alto fijo */
  display: flex;
  align-items: center;
}


.logo-track {
  display: flex;
  gap: 40px; 
  animation: scroll 70s linear infinite; 
  width: max-content; 
}

/* Estilo de cada logo */
.logo-track img {
  width: 200px;
  height: 200px;
  object-fit: contain;   
  background: #fff;     
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 10px;
}

.logo-track img.logo-blanco {
  background: #222;   
  padding: 15px;      
  border-radius: 8px;
}



@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
/* Footer*/
.footer{
  background-color: var(--color-ecotec) !important;
}


.footer h5 {
  font-size: 1.2rem;
  font-weight: 600;
}

.footer p{
  font-size: 0.95rem;
}
.social-link {
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-link:hover {
  transform: scale(1.2);
  color: var(--color-footer-icon) !important;
}

/* Botón contacto */
.footer .btn-info {
  border-radius: 12px;
  border: none;
  padding: 8px 16px;
  background-color: var(--color-alternativas);
  transition: background 0.3s ease;
}
.icon-footer img{
    height: 30px;
    width: 30px;
}

.footer .btn-info:hover {
  background-color: var(--color-ecotec); 
  outline: solid 1px #fff;
}

/* Línea legal */
.footer .border-top {
  border-color: rgba(255, 255, 255, 0.3) !important;
}


/* Pantalla de carga */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.8s ease, visibility 0.8s ease;
}

#loader.fade-out {
  opacity: 0;
  visibility: hidden;
}

.loader-logo {
  width: 400px;
  height: auto;
  margin-bottom: 30px;
  animation: pulse 1.5s ease-in-out infinite;
}

.spinner {
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-top: 6px solid #0f172a;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}


@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.12);
    opacity: 0.95;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* --- Responsividad --- */
@media (max-width: 768px) {
  .loader-logo {
    width: 250px;
  }
}

@media (max-width: 480px) {
  .loader-logo {
    width: 180px;
  }
  .spinner {
    width: 40px;
    height: 40px;
    border-width: 5px;
  }
}





