/* FUENTES GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* VARIABLES CSS */
:root {
  --color-header-footer: #01579B;
  --color-ecotec: #1F193D;
  --color-alternativas: #F0BC00;
  --color-btn-start: #00B0FF;
  --color-btn-end: #006A99;
  --color-cta-start: #1F193D;
  --color-cta-end: #003CFF;
}

/* ESTILOS DEL CUERPO Y FUENTES */
body {
  font-family: K2D;
}

.text-ptsans {
  font-family: PT Sans;
}

/* ESTILOS DEL HEADER */
.logo-ecotec {
  color: var(--color-ecotec);
  font-size: 20px;
}

.logo-empresa {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.logo-empresa:hover {
  opacity: 0.7;
}

.logo-alternativas {
  color: var(--color-alternativas);
  font-size: 20px;
}

.navbar {
  background-color: #01579B;
}

.navbar .nav-link,
.navbar-brand {
  color: #fff;
}

.navbar .nav-link:hover {
  text-decoration: none;
  color: #1F193D;
}

.alt-text {
  color: var(--color-alternativas);
}

.logo-ecotec span {
  color: var(--color-ecotec);
}

.navbar .dropdown-menu {
  border-radius: 0.5rem;
  transition: 0.2s ease;
}

.navbar .btn-cta {
  background: linear-gradient(90deg, #0288D1, #03A9F4);
  color: #fff;
  border-radius: 20px;
  padding: 6px 16px;
  border: none;
  transition: transform 0.2s ease;
}

.navbar .btn-cta:hover {
  background: linear-gradient(to bottom, var(--color-btn-start) 0%, var(--color-btn-end));
  transform: scale(1.05);
}

.dropdown-item:hover {
  background-color: #003CFF;
  color: #ffffff;
}

.navbar .dropdown:hover > .dropdown-menu {
  display: block;
}

.navbar .dropdown-menu {
  display: none;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.navbar .dropdown:hover > .dropdown-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.icono-logo img{
    height: 40px;
    width: 40px;
}

/* ESTILOS DEL FORMULARIO */
main{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('fondo-consulta.jpg') no-repeat center center;
  background-size: cover;
}

.custom-card {
  max-width: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 2rem;
  box-shadow: 6px 5px 19px -7px rgba(0,0,0,0.76);
  -webkit-box-shadow: 6px 5px 19px -7px rgba(0,0,0,0.76);
  -moz-box-shadow: 6px 5px 19px -7px rgba(0,0,0,0.76);
}

.icon img {
  height: 50px;
  width: 50px;
}


.custom-bg-left {
  background: linear-gradient(180deg, rgba(0, 0, 184, 1) 31%, rgba(0, 212, 255, 1) 100%);
  border-top-left-radius: 1.8rem;
  border-bottom-left-radius: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-input,
.custom-textarea {
  background-color: #e9ecef;
  border: none;
  padding: 1rem 1.25rem;
}

.custom-textarea {
  resize: none;
}

.custom-input::placeholder,
.custom-textarea::placeholder {
  color: #6c757d;
}

.custom-btn {
  background: linear-gradient(to right, #007bff, #00c6ff);
  border: none;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.custom-btn:hover{
  transform: scale(1.05);
    color: #1F193D;
}

.title-consulta {
  color: var(--color-alternativas);
  font-size: 30px;
  font-weight: 500;
  margin-top: 110px;
}
.icono-logo img{
  height: 40px;
  width: 40px;
}

.icono-form img {
  height: 30px;
  width: 30px;
}

.title-formulario{
    color: #1F193D;
}

.text-consulta {
  color: #fff;
  font-size: 24px;
}

.text-consulta-subtitle {
  color: #fff;
  font-size: 1rem;
  display: flex;              
  align-items: center;        
  gap: 10px;                  
  text-align: left;           
}

/* MEDIA QUERY PARA EL FORMULARIO */
@media (max-width: 767.98px) {
  .custom-card {
    border-radius: 1rem;
  }
}
